name: 'Test'

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - '.vscode/**'
      - '**/*/README.md'
      - 'examples/**'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout root
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: ESLint
        run: bun lint
      - name: Prettier
        run: bun prettier
      - name: Typecheck
        run: bun typecheck
  test-core:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Run core tests
        run: |
          cd packages/core
          bun test
  test-ssr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ssr
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Test ssr
        run: |
          cd packages/ssr
          bun test
  test-runtime:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout runtime
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Test runtime
        run: |
          cd packages/runtime
          bun test
  test-lib:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout lib
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Test lib
        run: |
          cd packages/lib
          bun run test
  test-search:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout search
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Test search
        run: |
          cd packages/search
          bun test
